.equipment {
  position: absolute;
}

.ladder {
  left: 364px;
  top: 578px;
}

.cart-1 {
  left: 630px;
  top: 783px;
}

.cart-2 {
  left: 1230px;
  top: 1006px;
  transform: scaleX(-1);
}

.box-1 {
  left: 298px;
  top: 550px;
}

.box-2 {
  left: 760px;
  top: 1016px;
}

.bucket {
  left: 1280px;
  top: 802px;
}
